@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Grace NB
   Date:    03/26/24 
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family:"Times","Times New Roman","serif";
	background-color:#d1bea8;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color:#d1bea8;
}


header {

    width: 910px;	/* reduced by 20px to accommodate shadow */
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
    	
}

img {
border: 2px solid #555;
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: black;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: tan;
    border-radius: 10px;
    color: black;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: black;
    border-left: 2px solid;
    border-right: 2px solid;    
}

#main p {
    text-indent: 1.5em;
    text-align: justify;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-weight:bold;
    
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
    color: black;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {

    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    
}

thead {
color: #bb8368

}
table {

background:#bb8368;
color:black;

}

figcaption {
font-weight: bold;

}
footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: #bb8368;
    clear: both;
    color: wheat;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}/* navigation for footer */
footer a:link {
    color:wheat;
    text-decoration: none;
}

footer a:visited {
    color: black;
    background-color: grey;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: white;
        }
        
        
        
        
        div.formRow {
display: flex;
flex-flow: row wrap;
margin: 7px 0px;
}

div.formRow > * {
flex: 1 1 150px;
}

form#survey {
display: flex;
flex-flow: row wrap;
}

form#survey > fieldset {
background-color: white;
border-radius: 20px;
flex: 1 1 300px;
font-size: 0.85em;
padding: 10px;
margin: 10px;
}
/* Legend Styles */
legend {
background-color:#bb8368;
color: white;
padding: 5px;
}


/* Text Area Styles */
textarea {
margin-top: 10px;
height:100px;
width: 95%;
}


/* Spinner Styles */



/* Form Button Styles */
div#buttons {
text-align: center;
width: 100%
}
input[type='submit'], input[type='reset'] {
font-size: 1.2em;
padding: 5px;
margin: 15px;
}

/* Validation Styles */


    
 
